body {
  background: hsl(55, 100%,50%);
}

main, header, footer {
  min-width: 855px;
}

head .container, footer .container, main {
  max-width: 855px;
  margin: auto;
}

main {
  background: white;
}

header {
  background: white;
}
